{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "todo/bootstrap.min.css" %}" >
    <link rel="icon" type="image/png"  href="{% static 'todopics/b.png' %}">
    <title>Byte Academy</title>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-primary">
<div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
         <img src="{% static 'todopics/b.png' %}" width="30" height="30" class="d-inline-block align-top">
        <span>Byte academy</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    {% if user.is_authenticated %}
        <ul class="navbar-nav mr-auto">
                
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'notes' %}">Useful Links</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'postq' %}">Post A Question</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'unanswered' %}">Unanswered Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'answered' %}">Answered Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'createtodo' %}">Create Todo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'currenttodos' %}">Current Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'completedtodos' %}">Completed Todos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tests</a>
                </li>
                
        </ul>
        

        <ul class="navbar-nav ml-auto">
                

                <form action="{% url 'logoutuser' %}" method="POST">
                     {% csrf_token %}

                <button type="submit" class="btn btn-primary">Logout</button>
                </form>
        </ul>
                
    {% else %}

        <ul class="navbar-nav mr-auto">
            
                <li class="nav-item ">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signupuser' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'loginuser' %}">Login</a>
                </li>
        </ul>

    {% endif%}
    
</div>
</nav>

<div class="container">
{% block content %}{% endblock %}
</div>