{% extends 'todo/base.html' %}
{% block content %}




<h1>These are notes for learning python</h1><br><br>
<a href="https://www.guru99.com/learning-python-strings-replace-join-split-reverse.html"> Strings </a><br><br>
<a href= "https://www.guru99.com/variables-in-python.html" > Variables  </a> <br><br>
<a href ="https://www.guru99.com/python-tuples-tutorial-comparing-deleting-slicing-keys-unpacking.html"> Tuples </a><br><br>
<a href ="https://www.guru99.com/python-dictionary-beginners-tutorial.html"> Dictionaries </a><br><br>
<a href ="https://www.guru99.com/python-operators-complete-tutorial.html"> Operators </a><br><br>
<a href ="https://www.guru99.com/if-loop-python-conditional-structures.html"> If loop </a><br><br>
<a href ="https://www.guru99.com/python-break-continue-pass.html"> Break, Continue, Pass</a><br><br>
<a href ="https://www.guru99.com/python-loops-while-for-break-continue-enumerate.html"> Loops </a><br><br>






















{% endblock %}